.items{
	position:relative;
	width:100%;
	height:220px;
	border-bottom: medium solid #000000;
	margin-top: 20px;
}

.img_right{
	position:absolute;
	float:left;
	top:10px;
}

.item_name{
	position:absolute;
	top:120px;
	left:400px;
}

.item_id{
	position:absolute;
	top:140px;
	left:700px;
}

.item_cate{
	position:absolute;
	border: thin solid #000000;
	background-color: #fff;
	top:20px;
	left:400px;
	padding:10px;
	height:15px;	
}

.search{
	width:400px;
	margin:0 auto;
	padding:30px;
	border: thin solid #000000;
	background-color: #fff;
}

input[name=btn_search]
{
	
	margin-top: 10px;
	padding: 5px 20px;
	font-size: 100%;
	color: #000000;
	cursor: pointer;
	border:thin solid #000000;
	border-radius: 3px;
	background: #fff;
}

/* ページネーション関連 */
/* ページ送りを中央寄せ */
.pagination {
    text-align: right;
	
}

/* ページ送りを横並びに */
.pagination li{
    display: inline-block;

}

.page-now{
	border: thin solid #000000;
	background-color: rgb(104, 104, 104);
	padding:5px;
	color: #fff;
}

.page-item{
	border: thin solid #000000;
	background-color: #fff;
	padding:5px;
}

.pagination a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


/* ページネーション関連ここまで */
.detail-button{
	display       : inline-block;
	border-radius : 5%;          /* 角丸       */
	font-size     : 13pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 15px 24px;   /* 余白       */
	background    : rgb(90, 120, 202);     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	text-decoration: none;
}